# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\E_RentalAccessories\RentalAccessories\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
